name: Build and Push to IBM Cloud CR
on: [push]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up IBM Cloud CLI and authenticate
        uses: IBM/actions-ibmcloud-cli@v1.1.0 # Use the official action
        with:
          api_key: ${{ secrets.IBM_CLOUD_API_KEY }}
          # Specify your region, e.g., us-south, eu-de, global. For global, use 'icr.io' in image tag.
          region: us-south 
          # Install container-registry plugin
          plugins: container-registry, code-engine

      - name: Log in to (Optional if using ibmcloud cr login)
        run: |
          ibmcloud cr login

      - name: Build and push Docker image
        # Replace us.icr.io with your registry region/domain, and add your namespace and image name
        run: |
          IMAGE_NAME="us.icr.io/workspace1/fashion:latest"
          docker build --no-cache --progress=plain -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      - name: deploy to the code engine ( application/refresh. )
        run: |
          IMAGE_NAME="private.us.icr.io/workspace1/fashion:latest"
          ibmcloud ce project select -n ce-project-16
          ibmcloud ce app update \
            --name application-c0 \
            --image $IMAGE_NAME
            --rs cr