name: Deploy to IBM Code Engine

on:
  push:
    branches: [ "main" ]

jobs:
  
    - name: Set up ibmcloud CLI
      uses: IBM/actions-ibmcloud-cli@v1
      with:
        api_key: ${{ secrets.IBM_CLOUD_API_KEY }}
        region: us-south
        group: default
        plugins: container-service, secrets-manager
    - name: Run an ibmcloud CLI command
      run: |
          ibmcloud --version
          ibmcloud cr login
    - name: Build image
      run: |
        docker build -t us.icr.io/workspace1/fashionstylefinder:latest .

    - name: Push image
      run: |
        docker push us.icr.io/workspace1/fashionstylefinder:latest

    - name: Deploy to Code Engine
      run: |
        ibmcloud ce project select -n ce-project-16
        ibmcloud ce app update \
          --name fashionstylefinder \
          --image us.icr.io/workspace1/fashionstylefinder:latest
